
body {
    background-color: #282a36;
    overflow: hidden;
}

p { 
    color: #bd93f9;
    font-size: 1vw;
    text-align: center;
    

    
}


h1{
    position:absolute;
    left:0;
    right:0;
    top: 12%;

    
}
#container { 
    color: #f758a0;
    font-size: 5vw;
    white-space: pre;

    text-align: center;
    display: inline;


}


@media only screen and (max-width: 900px) {
    p { font-size: 3vw;}
    h1 { font-size: 15vw;}
  }